<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frca.passmgr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="6" />

    <application
        android:icon="@drawable/suitcase"
        android:label="@string/app_name" android:killAfterRestore="false">
        <activity
            android:name="Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivities.TextPasswordActivity"></activity>
        <activity android:name="FirstUseActivity"></activity>
        <activity android:name=".PasswordActivities.CreateTextPasswordActivity"></activity>
    </application>

</manifest>